*{
margin: 0;
font-family: 'Open Sans', san-serif;
}


.bar{
  background-color: #040b14;
  position: absolute;
  min-height: 100%;
  padding: 2rem;
  margin: 0;
}

ul{
list-style: none;
margin: 0;
padding: 0;
}

.bi{
  float: left;
  margin: 0;
  width: 1.2rem;
}
.bar a:hover{
  color: #149ddd;
  font-weight: bold;
  text-decoration: none;
}

.bar i{
  font-size: 1rem;
  float: left;
  margin-top: 0.2rem;
  padding: 0;
}
.bar a{
  color: #ffffff;
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: 'Open Sans', san-serif;
  margin: 2rem 0;
}



.profile-pic img{
  margin:0 0 0.75rem 1.75rem;
  width: 8rem;
  border-radius: 50%;
  border: solid #2c2f3f 5px;
}

.profile .profile-name h1 span{
  text-align:center;
  display: block;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
}

.profile .profile-info-detail span{
  text-align:center;
  display: block;
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

.social-icons a {
  margin:1rem 0.4rem 0 0;
  display: inline-block;
  align-content: center;
  border-radius: 50%;
  background-color: #212431;
  padding: 0.55rem;
}


.social-icons #spotify:hover {
  background-color: #00b80f;
}

.social-icons #wordpress:hover {
  background-color: #0084b8;
}

.social-icons #linkedin:hover {
  background-color: #0065b8;
}

.social-icons #twitter:hover {
  background-color: #31b2fd;
}


.social-icons a i{
  color: #fff;
  font-size: 1rem;
  margin: 0;
}

